@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: 'Ubuntu Mono', monospace;
    --value: white;
    background-color: var(--value);
    transition: background-color 1s;
    text-align: center;
}
#drk{
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    
}
button{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: medium;
    border-style: solid;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: black;
    border: 0px;

}
button:hover{
    border-style: dotted;
}
#display{
    border-radius: 10px;
    /*border-image: linear-gradient(to right, red, orange, yellow, green, blue) 1;*/
    width: 200px;
    height: 30px;
    font-size: medium;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease
}

.calc{
    /*border: 4px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue) 1;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 575px;
    margin-top: 100px;
    text-align: center;
    width: 300px;
    height: 450px;
   /* background-color: dimgrey;*/
}
@media(max-width: 768px){
  .calc{
    margin-left: 220px;
  }
}
@media(max-width: 480px){
  .calc{
    margin: 0px;
  }
}
.equal{
    background-color: orange;
    width: 213px;
}
.orange{
    background-color: orange;
}
body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.light-mode .calc {
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid #ddd;
  }
  
  body.light-mode input[type="text"] {
    background-color: #ffffff;
    color: #000;
    border-color: #ccc;
  }
  
  body.light-mode button {
    background-color: #000;
    color: #fff;
  }
  body.light-mode .orange {
    background-color: orange;
    color: white;
  }
  body.light-mode .equal {
    background-color: orange;
    color: white;
  }
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-mode .calc {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #333;
  }
  
  body.dark-mode input[type="text"] {
    background-color: #333;
    color: #fff;
    border-color: #555;
  }
  
  body.dark-mode button {
    background-color: #ffffff;
    color: #000;
  }
  body.dark-mode .orange {
    background-color: orange;
    color: white;
  }
  body.dark-mode .equal {
    background-color: orange;
    color: white;
  }